<div class="carousel">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/images/slider/slide-1.jpg" class="d-block w-100 h-100" alt="...">
                <div class="carousel-caption carouselElements d-none d-md-block">
                    <h5>SEASONAL PICKS</h5>
                    <h1>GET ALL THE GOOD STUFF</h1>
                    <div><a href="/">DISCOVER NOW</a></div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/images/slider/slide-2.jpg" class="d-block w-100 h-100" alt="...">
                <div class="carousel-caption carouselElements d-none d-md-block">
                    <h5>SEASONAL PICKS</h5>
                    <h1>GET ALL THE GOOD STUFF</h1>
                    <div><a href="/">DISCOVER NOW</a></div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/images/slider/slide-3.jpg" class="d-block w-100 h-100" alt="...">
                <div class="carousel-caption carouselElements d-none d-md-block">
                    <h5>SEASONAL PICKS</h5>
                    <h1>GET ALL THE GOOD STUFF</h1>
                    <div><a href="/">DISCOVER NOW</a></div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
</div>
